@font-face {
    font-family: 'Brandon Text';
    src: url('./Brandon_txt_bld-webfont.woff2') format('woff2'),
         url('./Brandon_txt_bld-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('./Brandon_txt_light-webfont.woff2') format('woff2'),
         url('./Brandon_txt_light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('./Brandon_txt_reg-webfont.woff2') format('woff2'),
         url('./Brandon_txt_reg-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
